.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
  }
  
  .arc path {
    stroke: #fff;
  }
  .axis path,
                      .axis line {
                          fill: none;
                          stroke: black;
                          shape-rendering: crispEdges;
                      }
                      .axis text {
                          font-family: sans-serif;
                          font-size: 11px;
                      }
  div.full-page {
    width: 100%;
    border: 1px solid black;
  }
  .head  {
    width: 98%;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding-top: 15px;
      padding-left: 13px;
      padding-right: 13px;
        
     font-size: 32px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
     
  }
  .main_video_link .video_link {
    width:80%;
    height:80%;

    border:1px;
    backdrop-filter: blur(1000px);
}
  div.menu {
    width: 100%;
    height: 40px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  div.document {
    width: 80%;
    
    padding-top: 5px;
     padding-left: 10%;
     padding-right: 10%;
     padding-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  div.document p{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #252525;
    text-align: justify
  
  }
  div.document h1{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #028c96;
    line-height: 1.5em;
  
    
    text-decoration: underline;
  
  }
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    
  }
  div.main {
    width: 100%;
    
    height: 610px;
    padding-top: 5px;
   
   
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  div.main_map {
       width: 53%;
       height: 610px;
      float: left;
       
  }
  
  div.button_main {
       width: 18%;
       height: 30px;
      float: left;
        padding-top: 5px;  
        padding-left: 5px;  
        padding-right: 5px;  
        padding-bottom: 5px;  
  }
  
  ::selection{
    color: #fff;
    background: #17A2B8;
  }
  .slidecontainer{
    width: 52%;
    height: 30px;
   float: left;
    padding-top: 10px;
    border : 1px black;
  }
  div.sliderlabels{
    width: 15%;
    height: 30px;
    float: left;
    padding-left: 10px;
  }
  .slidermain {
       width: 60%;
       height: 30px;
      float: left;
       padding-top: 10px;
       
       
  }
  .slider{
    
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress{
    height: 100%;
    left: 1%;
    right: 1%;
    position: absolute;
    border-radius: 5px;
    background: #17A2B8;
  }
  .sliderinput{
    position: relative;
  }
  .sliderinput input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
  
  
  div.main_bar {
        width: 45%;
        height: 600px;
        padding-top: 10px;
        padding-left: 1px;
        
      float: left;
    
  }
  div.foot {
    width: 100%;
    height: 230px;
    padding-top: 20px;
  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
  
  }
  
  div.foot_toatlpie {
        width: 49%;
        height: 220px;
        padding-top: 10px;
      float: left;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  
  div.foot_MFpie {
        width: 49%;
        height: 220px;
        padding-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px;
        padding-left: 10px;
      float: right;
    
  }
  div.tooltip {
       position: absolute;
       text-align: center;
       padding: .3rem;
       background: #fff7fb;
       
       border: 1px solid #313639;
       border-radius: 5px;
       pointer-events: none;
       font-size: 0.9rem;
  }
  .axis-grid line {
    stroke: #def;
  }
  .menu {
    background-color: #333;
    overflow: hidden;
  }
  
  .menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 46px;
    text-decoration: none;
    font-size: 17px;
  }
  .head a:hover {
    background-color: #ddd;
    color: black;
  }
  

      .gridbutton{
          display: inline-flex;
                  
          background-color: #525252;
          color: white;
          border-radius: 5px;
          box-shadow: 0 3px 5px rgba(0,0,0,0.2);
          border: none;
          cursor: pointer;
          
          
          padding: 0.25em 0.25em 0.25em 0.25 em;
          
        
           float: right;
          width: 112px;
          height: 25px;
           
  
          text-align: left;
          line-height: 1.1;
          font-family: inherit;
          font-size: 1.1rem;
      }
      .gridbutton:hover {background-color: #969696}
  
  .gridbutton:active {
    background-color: #525252;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  label{
      width: 10%;
      height: 15px;
  }
  